@model WypozyczalniaFilmow.Models.DodawanieViewModel
@{Layout = "_Layout";

}
@using (Html.BeginForm("DodajFilm","Filmy",FormMethod.Post, new { enctype="multipart/form-data"}))
{
<table>
    <tr>
        <td>
            Rezyzer:
        </td>
        <td>
            @Html.TextBoxFor(f => f.Film.Rezyser)
        </td>
    </tr>
    <tr>
        <td>
            Tytul:
        </td>
        <td>
            @Html.TextBoxFor(f => f.Film.Tytul)
        </td>
    </tr>
    <tr>
        <td>
            Opis:
        </td>
        <td>
            @Html.TextBoxFor(f => f.Film.Opis)
        </td>
    </tr>
    <tr>
        <td>
            Cena:
        </td>
        <td>
            @Html.TextBoxFor(f => f.Film.Cena)
        </td>
    </tr>
    <tr>
        <td>
            Długość filmu:
        </td>
        <td>
            @Html.TextBoxFor(f => f.Film.DlFilmu)
        </td>
    </tr>
    <tr>
        @foreach( var kategoria in Model.Kategorie)
                {
                    <td>@kategoria.Nazwa</td>
                    <td>@Html.RadioButtonFor(f=>f.Film.KategoriaId,kategoria.Id)</td>
                }
    </tr>
    <tr>
        <td> @Html.LabelFor(f => f.Film.Plakat, "Dodaj Plakat")</td>
       <td>
           @Html.TextBoxFor(f=>f.Plakat, new {@type = "file"})
       </td>
    </tr>
</table>
<button type="submit">
Dodaj
</button>
            }
