@model WypozyczalniaFilmow.Models.Film
@using (Html.BeginForm()) { 

<table>
    <thead>

    </thead>
    <tbody>
        <tr>
            <td>
                @Html.TextBoxFor(f=>f.Tytul)
            </td>
            <td>
                <ul>
                    <li><img src="~/Grafiki/@Model.Plakat" style="width:150px" /></li>
                    <li>
                        @Html.TextBoxFor(f => f.Rezyser)
                    </li>
                    <li>
                        @Html.TextAreaFor(f => f.Opis)
                    </li>
                    <li>
                        @Html.TextBoxFor(f => f.Cena)
                    </li>
                    <li>
                        @Html.TextBoxFor(f => f.DlFilmu)
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<button type="submit">Zatwierdz</button>
}