@model WypozyczalniaFilmow.Models.Film
@{ 
    Layout = "_Layout";
}
<table>
    <tr>
        <th>Nazwa</th>
        <th>Ilosc</th>
        <th>Wartosc</th>
    </tr>
    @foreach(var film in ViewBag.cart)
            {
        <tr>
            <td>@film.Film.Tytul</td>
            <td>@film.Ilosc</td>
            <td>@film.Film.Wartosc zł</td>
            <td><a href =" @Url.Action("Usun","Koszyk", new {id = film.Film.id })"/></td>
        </tr>
            }
</table>
Razem: @ViewBag.total zł