@model WypozyczalniaFilmow.Models.Film
@{ 
    Layout = "_Layout";
}
<table>
    <tr>
        <th>Nazwa</th>
        <th>Ilosc</th>
        <th>Wartosc</th>
    </tr>
    @foreach(var film in ViewBag.cart)
            {
        <tr id="cartItem-@film.Film.Id">
            <td>@film.Film.Tytul</td>
            <td><span id="itemQuantity-@film.Film.Id">@film.Ilosc</span></td>
            <td>@film.Wartosc zł</td>
            <td><a href ="#" class="trash" data-id="@film.Film.Id">Usun</a></td>
        </tr>
            }
</table>
<div id="totalPrice">
    Razem: @ViewBag.total zł
</div>
@section Scripts{ 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(".trash").click(function () {
        var IdCartItem = $(this).data("id");
        if (IdCartItem != '') {
            $.post("/Koszyk/Usun", { "id": IdCartItem },
                function (response) {
                    if (response.itemQuantity == 0) {
                       
                        $("#cartItem-" + response.itemId).fadeOut("slow");
                    }
                    else {
                        $("#itemQuantity-" + response.itemId).text(response.itemQuanity);
                    }
                    $("#totalPrice").text("Razem: " + response.cartValue + "zł")
                });
        }
    });
</script>
}