@model IEnumerable<WypozyczalniaFilmow.Models.Kategoria>
<header>
    @foreach (var kategoria in Model)
    {
        <a href="@Url.Action("Lista","Filmy",new { nazwaKategori = kategoria.Nazwa})">@kategoria.Nazwa</a>
    }
    <a href="@Url.Action("Wszystkie","Filmy")">Wszystkie</a>
    @using (Html.BeginForm("Szukaj", "Filmy"))
            {
                @Html.TextBox("tekst")
        <button type="submit">Szukaj</button>
            }
    @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Logout","Account")">@User.Identity.Name</a>
            }
            else
            {
                <a href="@Url.Action("Login","Account")">Login</a>
            }
</header>
